<div class="col-lg-3">

  <section class="list">
    <header><%= best_in_place [@board, list], :listTitle, :html_attrs => { size: 15 } %></header>

    <div class="listA listB">
      <article class="card">Learn Swift</article>

      <article class="card">Work on drag and drop</article>

      <article class="card">Build online portfolio</article>
    </div>

  </section>
</div>
