<!-- <div class="row">
  <div class="col-md-7 col-md-offset-1" id="tasks"><%= best_in_place [@board, list], :listTitle %></div>
</div> -->

<div class="col-md-4 lists">
  <div class="list">
    <p class='list-title'><%= best_in_place [@board, list], :listTitle %></p>
  </div>
</div>
