<!-- <div class="row">
  <div class="col-md-7 col-md-offset-1" id="tasks"><%= best_in_place [@board, list], :listTitle %></div>
</div> -->

<!-- previous div -->
<!-- <div class="col-md-4 lists">
  <div class="list">
    <p class='list-title'><%= best_in_place [@board, list], :listTitle %></p>
  </div>
</div> -->

<!-- <div class="row"> -->
  <!-- <div class="col-md-3">
    <div class="panel-heading">
      <h3 class='panel-title'><%= best_in_place [@board, list], :listTitle %></h3>
    </div>
    <div class="panel-body">
      Card Content
    </div>
  </div> -->
<!-- </div> -->

<div class="col-md-3 board_list">
  <div class="list-group-item">
    <h3 class='panel-title'><%= best_in_place [@board, list], :listTitle %></h3>
  </div>
  <!-- <div class="panel-body">
    Card Content
  </div> -->
</div>
