<!-- <%= link_to 'New Board', new_board_path, remote: true %>
<div id="task-form" style="display:none;"></div> -->

<div class="row">
  <!-- <div class="col-md-5 col-md-offset-1">
    <h2><%= link_to 'Boards', root_path %></h2>
  </div> -->

  <div class="col-md-2 col-md-offset-4">
    <%= link_to new_board_path, remote: true do %>
      <button class="btn btn-default">New</button>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-2" id="task-form" style="display:none;"></div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1" id="tasks"><%= render @boards %></div>
</div>

<!-- <div class="row">
  <div class="col-md-7">
    <div class="col-md-4">
      <div class="list-group">
        <a href="#" class="list-group-item active">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">...</p>
        </a>
      </div>

      <div class="list-group">
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">...</p>
        </a>
      </div>
    </div>
  </div>
</div> -->
