<h2>This is the show page</h2>
<p><%= @board.title %></p>

<div class="row">
  <div class="col-md-7 ListSort">
    <%= render @board.lists %>
  </div>
  <div class="col-md-4 col-md-offset-1">
    <%= render 'lists/form' %>
  </div>
</div>
