  <h2><%= best_in_place @board, :title, :html_attrs => { size: 15 } %></h2>

  <div class="row">
    <div class="row-horizon list-sortable" data-update-url="<%= sort_board_lists_url(@board)%>">
      <%= render @sorted %>
      <%= render 'lists/form' %>
    </div>

  </div>
