/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */
 @import url(http://fonts.googleapis.com/css?family=Playfair+Display|Muli:300,400);
 @import "bootstrap-sprockets";
 @import "bootstrap";

body, html{
  height: 100%;
}

.container{
  height: 80%;
}

.row{
  margin-bottom: 10px;
  height: 80%;
}

.row-horizon{
  height: 100%;
}

.boards, .board_list{
  margin-bottom: 30px;
}

.list-group-item{
  background-color: #838C91;
}

.list-sortable{
  margin-bottom: 15px;
}

.list{
  background-color: #E3E3E3;
  border-radius: 3px;
  margin: 5px 10px;
  padding: 10px;
  // width: 260px;
  width: 100%;

  // float: left;
}

.list>header {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: left;
  height: 25px; //this prevents the best in place to offset the parent div
}

.list .card {
  background-color: #FFF;
  border-bottom: 1px solid #CCC;
  margin: 10px 0;
  padding: 6px 8px;
  cursor: pointer;
  /*cursor: move;*/
}

.ui-sortable-placeholder {
    border: 3px dashed #aaa;
    height: 177px;
    width: 260px;
    background: #ccc;
}

.round-image-50 {
   background-color: white;
   border: 1px solid #d9d9d9;
   border-radius: 25px;
   -moz-border-radius: 25px;
   -webkit-border-radius: 25px;
   height: 50px;
   width: 50px;
   overflow: hidden;
   text-align: center;
   img { width: 100% }
}

.board-title{
  height: 25px;
}

// .row-horizon{
//   height: 100%;
// }
