// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// from _list.html.erb

.header-tab{
  header{ float: left;}

  a{
    float: right;
    padding-right: 10px;
  }
}

.card{
  .card-title{
    float: left;
    margin-right: 100px;
  }

}

//////////////////////
