// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// from _list.html.erb

.header-tab{
  header{ float: left;}

  a{
    float: right;
    padding-right: 10px;
  }
}

.card{
  .card-title{
    float: left;
  }

  a{float: right;}

}

section.list div.row div.header-tab a, .listA.listB article.card a{visibility: hidden;}

section.list div.row:hover div.header-tab a, .listA.listB:hover article.card a{visibility: visible;}


//////////////////////
